node_modules
.next
.vercel
.env
.env.local
.cloudflare-env.txt
.generated-admin-secrets.tmp
.admin-password-once.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.wrangler
*.log
next-log.txt
